<template>
  <v-container>
    <v-card light
            class="mb-4">
      <v-layout row>
        <v-flex xs3
                ref="avatarbox"
                v-resize="onResize"
                ma-3>
          <v-avatar class="grey"
                    :size="avatarSize"
                    tile>
            <v-icon dark
                    x-large>account_circle</v-icon>
          </v-avatar>
        </v-flex>
        <v-flex xs9
                ma-4>
          <v-layout column>
            <p class="display-3">{{name}}</p>
            <p class="headline">{{email}}</p>
            <v-flex>

            </v-flex>
          </v-layout>
          <v-dialog v-model="profDialog"
                    persistent
                    width="600px">
            <v-btn slot="activator">プロフィールの編集</v-btn>
            <v-card light>
              <v-card-title light>
                <span class="headline">プロフィールの編集</span>
              </v-card-title>
              <v-card-text light>
                <v-container grid-list-xs>
                  <v-layout row
                            wrap>
                    <v-flex xs12>
                      <v-text-field label="User name"
                                    required
                                    light></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field label="Email"
                                    required
                                    light></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field label="現在のパスワード"
                                    required
                                    light></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field label="新しいパスワード"
                                    light></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field label="新しいパスワード再入力"
                                    light></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <label>
                        <label elevation-3>
                          <v-chip elevation-3
                                  class="grey lighten-2">
                            <v-icon right>image</v-icon>
                            プロフィール画像の選択</v-chip>
                          <input type="file"
                                 @change="inputFile"
                                 accept="image/*"
                                 hidden />
                        </label>
                        <label class="grey--text">{{avaFile.name}}</label>
                      </label>
                    </v-flex>
                    <v-flex>
                      <v-avatar v-if="avaFilePath"
                                size="96px"><img :src="avaFilePath"></img>
                      </v-avatar>
                      </v-avatar>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1"
                       flat
                       @click.native="profDialog = false">Close</v-btn>
                <v-btn color="blue darken-1"
                       flat
                       @click.native="profDialog = false">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-flex>
      </v-layout>
    </v-card>
    <uploads :movies="movies"></uploads>
  </v-container>
</template>

<script>
import axios from '~/plugins/axios'
// import {mapMutations} from 'vuex'
import Uploads from '~/components/Uploads'

export default {
  data () {
    return {
      profDialog: false,
      avaFile: '',
      avaFilePath: '',
      avaSize: 0,
      name: this.$store.state.user.name,
      email: this.$store.state.user.email,
      avatar: this.$store.state.user.avatar
    }
  },
  async asyncData ({ params, error }) {
    let movies = await axios.get('/api/movies/recomendeds').catch((e) => {
      return { data: [] }
    })
    return {
      movies: movies.data
    }
  },
  fetch ({ store, redirect }) {
    if (!store.state.user) {
      return redirect('/')
    }
  },
  computed: {
    avatarSize () {
      if (this.$refs.avatarbox) {
        this.avaSize = this.$refs.avatarbox.clientWidth
      }
      return this.avaSize + 'px'
    }
  },
  methods: {
    onResize () {
      this.avaSize = this.$refs.avatarbox.clientWidth
    },
    inputFile (e) {
      e.preventDefault()
      this.avaFile = e.target.files[0]
      let reader = new FileReader()
      reader.onload = () => {
        this.avaFilePath = reader.result
      }
      reader.readAsDataURL(this.avaFile)
    }
  },
  components: {
    Uploads
  }
}
</script>

<style>

</style>
