<template>
  <v-container grid-list-sm
               pt-3
               pl-4
               class="not-moviepage">
    <h4>おすすめ</h4>
    <v-layout class="row wrap"
              pb-5>
      <v-flex xs12
              sm6
              md4
              lg3
              mb-3
              v-for="m in recomendeds"
              :key="m.id">
        <div @click="go(m)">
          <movie-card :movie="m"
                      class="width:100%"></movie-card>
        </div>

      </v-flex>
    </v-layout>
    <h4>新着</h4>
    <v-layout class="row wrap"
              pb-5>
      <v-flex xs12
              sm6
              md4
              lg3
              mb-3
              v-for="m in news"
              :key="m.id">
      <div @click="go(m)">
        <movie-card :movie="m" class="width:100%"></movie-card>
      </div>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from '~/plugins/axios'
import MovieCard from '~/components/MovieCard'

export default {
  data () {
    return {

    }
  },
  async asyncData ({ params, error }) {
    let recomendeds = await axios.get('/api/movies/recomendeds').catch((e) => {
      return { data: [] }
    })
    let news = await axios.get('/api/movies/news').catch((e) => {
      return { data: [] }
    })
    return {
      recomendeds: recomendeds.data,
      news: news.data
    }
  },
  mounted () {
  },
  methods: {
    go (movie) {
      this.$router.push({ name: 'index-movie-id', params: { id: movie.id } })
    }
  },
  components: {
    MovieCard
  }
}
</script>

<style>

</style>
