<template>
  <v-container>
    <uploads :movies="movies"></uploads>
  </v-container>
</template>

<script>
import axios from '~/plugins/axios'
// import {mapMutations} from 'vuex'
import Uploads from '~/components/Uploads'

export default {
  data () {
    return {
    }
  },
  async asyncData ({ params, error }) {
    let movies = await axios.get('/api/movies/recomendeds').catch((e) => {
      return { data: [] }
    })
    return {
      movies: movies.data
    }
  },
  fetch ({ store, redirect }) {
    if (!store.state.user) {
      return redirect('/')
    }
  },
  computed: {
  },
  methods: {
  },
  components: {
    Uploads
  }
}
</script>

<style>

</style>
