<template>
  <v-container class="not-moviepage">
    <h4>新着動画</h4>
    <movie-list :movies="news"></movie-list>
  </v-container>
</template>

<script>
import axios from '~/plugins/axios'
import MovieList from '~/components/MovieList'

export default {
  data () {
    return {
    }
  },
  async asyncData ({ params, error }) {
    let news = await axios.get('/api/movies/news').catch((e) => {
      return { data: [] }
    })
    return {
      news: news.data
    }
  },
  components: {
    MovieList
  }
}
</script>

<style>

</style>
