<template>
  <v-container class="not-moviepage">
    <h4>おすすめ</h4>
    <movie-list :movies="recomendeds"></movie-list>
  </v-container>
</template>

<script>
import axios from '~/plugins/axios'
import MovieList from '~/components/MovieList'

export default {
  data () {
    return {
    }
  },
  async asyncData ({ params, error }) {
    let recomendeds = await axios.get('/api/movies/recomendeds').catch((e) => {
      return { data: [] }
    })
    return {
      recomendeds: recomendeds.data
    }
  },
  components: {
    MovieList
  }
}
</script>

<style>

</style>
