<template>
  <v-container class="not-moviepage">
    <span>検索ワード: </span>
    <span>{{searchWord}}</span>
    <movie-list :movies="movies"></movie-list>
  </v-container>
</template>

<script>
import axios from '~/plugins/axios'
import MovieList from '~/components/MovieList'

export default {
  data () {
    return {
      searchWord: this.$store.state.searchWord
    }
  },
  async asyncData ({ query, error }) {
    let movies = await axios.get('/api/movies/search?search_word=' + query.search_word).catch((e) => {
      return { data: [] }
    })
    return {
      movies: movies.data
    }
  },
  components: {
    MovieList
  }
}
</script>

<style>

</style>
