<template>
  <v-container class="not-moviepage">
    <h4>{{tag}}</h4>
    <movie-list :movies="tags"></movie-list>
  </v-container>
</template>

<script>
import axios from '~/plugins/axios'
import MovieList from '~/components/MovieList'

export default {
  data () {
    return {
    }
  },
  async asyncData ({ query, error }) {
    let tag = query.tag
    let tags = await axios.get('/api/movies/news').catch((e) => {
      return { data: [] }
    })
    return {
      tag: tag,
      tags: tags.data
    }
  },
  components: {
    MovieList
  }
}
</script>

<style>

</style>
