<template>
  <v-container fill-height>
    <v-card light
            style="width:100%">
      <v-card-title>動画のアップロード</v-card-title>
      <v-divider light
                 class="mb-4 pb-2"></v-divider>
      <v-layout row>

        <v-flex xs6>
          <v-form v-model="uploadValid"
                  ref="uploadForm"
                  light
                  style="height:100%">
            <v-layout row
                      wrap
                      justify-center
                      light>
              <v-flex xs9
                      class="mt-1">
                <v-text-field label="動画のURL"
                              hint="例: https://www.youtube.com/watch?v=AAAAAAAAAAA"
                              v-model="url"
                              type="text"
                              :rules="[rules.required, rules.youtubeUrl]"
                              required
                              persistent-hint
                              light></v-text-field>
              </v-flex>
              <v-flex xs9>
                <v-text-field label="Title"
                              v-model="title"
                              type="text"
                              :rules="[rules.required]"
                              required
                              light></v-text-field>

              </v-flex>
              <v-flex xs9
                      pt-4>
                <v-layout row
                          wrap>
                  <v-chip v-for="c,idx in tags"
                          class="grey lighten-2 mt-3"
                          close
                          :key="idx"
                          @input="removeChip(idx)">{{c}}</v-chip>

                  <v-text-field label="タグを追加"
                                v-model="tag"
                                type="text"
                                :rules="[]"
                                light
                                placeholder=" "
                                @keydown.enter="pushChip"
                                hint="Enterキーでタグを追加できます">
                  </v-text-field>

                </v-layout>
              </v-flex>

              <v-flex xs9>
                <v-layout row
                          wrap>
                  <v-flex xs12>
                    <span class="mr-1 grey--text text--darken-1">タグ候補<br></span>
                  </v-flex>
                  <p v-for="tag,i in existTags"
                     class="mr-2"
                     style="text-decoration: underline"
                     @click="pushEntry(tag)">{{tag}} </p>
                  </v-text-field>

                </v-layout>
              </v-flex>
              <v-flex xs9
                      class="mt-1">
                <v-btn block
                       color="orange darken-3"
                       @click="uploadSub">アップロード</v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-flex>

        <v-flex xs6
                v-resize="onPrevResize"
                ref="player">
          <h4>プレビュー</h4>
          <div class="pb-4">
            <youtube :video-id="videoId"
                     :player-width="videoWidth"
                     :player-height="videoHeight"
                     @ready="ready"></youtube>
          </div>
        </v-flex>
      </v-layout>
    </v-card>

  </v-container>
</template>

<script>

export default {
  data () {
    return {
      allTags: ['tag1', 'tag2', 'tag3', 'tag4', 'tag11', 'tag12', 'tag13', 'tag14'],
      title: '',
      url: '',
      tags: [],
      tag: '',
      videoWidth: 480,
      videoHeight: 270,
      uploadValid: false,
      player: null,
      rules: {
        required: (value) => !!value || '必須項目です',
        youtubeUrl: (value) => (!value || this.$youtube.getIdFromURL(value).length === 11) || 'URLの形式が正しくありません'
      }
    }
  },
  fetch ({ store, redirect }) {
    if (!store.state.user) {
      return redirect('/')
    }
  },
  computed: {
    videoId () {
      return this.$youtube ? this.$youtube.getIdFromURL(this.url) : ''
    },
    existTags () {
      if (this.tag) {
        return this.allTags.filter((value) => {
          return value.indexOf(this.tag) >= 0 && this.tags.indexOf(value) < 0
        })
      } else {
        return []
      }
    }
  },
  methods: {
    ready (player) {
      this.player = player
      this.setPlayerSize()
    },
    onPrevResize () {
      this.setPlayerSize()
    },
    setPlayerSize () {
      if (this.$refs.player && this.player) {
        this.videoWidth = this.$refs.player.clientWidth * 0.9
        this.videoHeight = this.videoWidth * 9 / 16
      }
    },
    uploadSub () {
      if (this.$refs.uploadForm.validate()) {
        console.log(this.$youtube.getIdFromURL(this.url))
      }
    },
    pushChip () {
      if (this.tag) {
        if (this.tags.indexOf(this.tag) < 0 && this.existTags.indexOf(this.tag) >= 0) {
          this.tags.push(this.tag)
          this.tag = ''
        }
      }
    },
    pushEntry (tag) {
      if (tag) {
        if (this.tags.indexOf(tag) < 0 && this.existTags.indexOf(tag) >= 0) {
          this.tags.push(tag)
        }
      }
    },
    removeChip (index) {
      this.tags.splice(index, 1)
    }
  },
  components: {
  }
}
</script>

<style>

</style>
