<template>
  <div>
    <v-layout row>
      <v-flex xs2
              class="text-xs-center"
              pl-2
              pt-2>
        <v-avatar size="40px"
                  slot="activator">
                  <v-icon v-if="!(!!comment.user && !!comment.user.avatar)" class="blue lighten-1">person</v-icon>
                  <img v-if="!!comment.user && !!comment.user.avatar" :src="comment.user.avatar"/>
        </v-avatar><br>

      </v-flex>
      <v-flex xs8
              pr-0
              v-if="comment.is_question !== 1">
        <span class="caption grey--text pa-0 ma-0"
              style="height: 1px">{{ comment.user.name }}</span>
        <div class="balloon mr-1">
          <p class="balloon-text pa-1 pl-2 mb-0 mt-0 grey--text text--darken-4">
            {{ comment.text }}
          </p>
        </div>
      </v-flex>
      <v-flex xs8
              pr-0
              v-if="comment.is_question !== 0">
        <span class="caption grey--text pa-0 ma-0"
              style="height: 1px">{{ comment.user.name }}</span>
        <div class="balloon-question mr-1">
          <v-badge overlap
                   color="yellow lighten-4"
                   right>
            <v-icon slot="badge"
                    medium
                    color="yellow darken-3"
                    light>help_outline</v-icon>
            <div class="balloon-question-text pa-1 pl-2 mb-1 mt-1 grey--text text--darken-4">
              <p class="pb-0 mb-0">
                {{ comment.text }}
              </p>
              <v-btn @click="answer = !answer"
                     icon
                     light
                     small>
                <v-icon color="yellow darken-3">comment</v-icon>
                <span class="yellow--text text--darken-3">{{comment.answers.length}}</span>
              </v-btn>
              <v-layout row
                        v-if="answer"
                        v-for="ans in comment.answers"
                        :key="ans.updated_at">
                <v-flex xs1
                        class="text-xs-center"
                        pl-0
                        pt-0>
                  <v-avatar size="18px"
                            slot="activator">
                    <v-icon v-if="!(!!ans.user && !!ans.user.avatar)" class="blue lighten-1">person</v-icon>
                  <img v-if="!!ans.user && !!ans.user.avatar" :src="ans.user.avatar"/>
                  </v-avatar><br>

                </v-flex>
                <v-flex xs11
                        pr-0>
                  <div>
                    <span class="caption grey--text ml-1">{{ ans.user.name }}</span>
                    <p class="ma-0 pr-2 grey--text text--darken-4 body-1">
                      {{ ans.text }}
                    </p>
                  </div>
                </v-flex>
              </v-layout>
            </div>
          </v-badge>
          <v-layout ma-0
                    pa-0>
            <v-btn small
                   class="pa-0 ma-0 yellow darken-3"
                   round
                   @click="setQId">
              <v-icon>arrow_upward</v-icon>回答する</v-btn>
          </v-layout>

        </div>
      </v-flex>
      <v-flex xs2
              pl-0>
        <span class="caption grey--text">{{convertSecondsToHMS(comment.timing)}}</span>
        <v-btn icon
               small @click="good">
          <div>
            <v-icon :class="{ 'blue--text': gooded, 'text--lighten-1': gooded, 'grey--text': !gooded}">thumb_up</v-icon><br>
            <span class="pa-0 ma-0" :class="{ 'blue--text': gooded, 'text--lighten-1': gooded, 'grey--text': !gooded}">{{comment.goods}}</span>
          </div>
        </v-btn>

      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: ['comment', 'setQuestionId'],
  data () {
    return {
      answer: false,
      gooded: false
    }
  },
  methods: {
    convertSecondsToHMS: (time) => {
      let hour = 0
      let min = 0
      let sec = 0

      if (time >= 60 * 60) {
        hour = Math.floor(time / (60 * 60))
        time -= hour * 60 * 60
      }
      if (time >= 60) {
        min = Math.floor(time / 60)
        time -= min * 60
      }
      sec = Math.floor(time)
      return `${('00' + hour).slice(-2)}:${('00' + min).slice(-2)}:${('00' + sec).slice(-2)}`
    },
    setQId () {
      this.$emit('setQuestionId', { id: this.comment.id, username: this.comment.user.name })
    },
    good () {
      if (!this.gooded) {
        this.gooded = true
        this.comment.goods += 1
      }
    }
  },
  components: {
  }
}
</script>
<style>
.balloon {
  position: relative;
  padding: 0px 0px 0px 8px;
}

.balloon::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  left: -4px;
  top: 10px;
  border-right: 12px solid rgba(227, 242, 253, 1);
  border-top: 2px solid transparent;
  border-bottom: 10px solid transparent;
}

.balloon-text {
  background: rgba(227, 242, 253, 1);
  display: inline-block;
  border-radius: 10px;
}

.balloon-question {
  position: relative;
  padding: 0px 0px 0px 8px;
}

.balloon-question::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  left: -4px;
  top: 10px;
  border-right: 12px solid rgba(255, 245, 157, 1);
  border-top: 2px solid transparent;
  border-bottom: 10px solid transparent;
}

.balloon-question-text {
  background: rgba(255, 245, 157, 1);
  display: inline-block;
  border-radius: 10px;
}
</style>
