<template>
  <div class="elevation-8">
    <v-tabs fixed
            centered>
      <v-tabs-bar class="blue lighten-1">
        <v-tabs-slider class="yellow"></v-tabs-slider>
        <v-tabs-item :href="'#tab-all'"
                     key="0">全てのコメント</v-tabs-item>
        <v-tabs-item :href="'#tab-question'"
                     key="1">質問と回答</v-tabs-item>
      </v-tabs-bar>
      <v-tabs-items>
        <v-tabs-content :id="'tab-all'"
                        key="0" >

          <div class="tab-content-style grey lighten-4" id="all-comments" style="line-height: normal;" transition="slide-y-transition">
            <balloon v-for="c, idx in coms"
                     :key="idx"
                     :comment="c"
                     @setQuestionId="setQuestionId"
                     class="balloon-container-all"></balloon>
          </div>

        </v-tabs-content>
        <v-tabs-content :id="'tab-question'"
                        key="1">
          <div class="tab-content-style grey lighten-4" id="question-comments" style="line-height: normal;" transition="slide-y-transition">
          <balloon v-for="c, idx in coms"
                    v-if="c.is_question"
                     :key="idx"
                     :comment="c"
                     @setQuestionId="setQuestionId"
                      class="balloon-container-question"></balloon>
          </div>
        </v-tabs-content>
      </v-tabs-items>
    </v-tabs>
    <v-toolbar
              class="ma-0" style="width:100%;"
              height="35"
              :class="{grey: !questionSetted, 'darken-3': !questionSetted, orange: !!questionSetted}" transition="slide-x-transition">
        <v-btn-toggle v-model="autorenew"
                      secondary small v-if="!questionSetted"
                      >
          <v-btn flat
                 height="15px" small>

            <v-icon height="15px">autorenew</v-icon>
            <span>動画と同期する</span>
          </v-btn>
        </v-btn-toggle>
        <v-checkbox style="height:30px"  v-if="!questionSetted" label="質問として送信"

                    v-model="isQuestion"
                    class="pl-2 ml-3 yellow--text"></v-checkbox>
      <span style="height: 20px;" v-if="!!questionSetted" class="pl-2 text-xs-center">
        {{questionSetted.username}} さんの質問に回答する
      </span>
      <v-spacer v-if="!!questionSetted"></v-spacer>
       <v-btn v-if="!!questionSetted" icon dark small @click="cancelAnswer"><v-icon small style="">cancel</v-icon>
       </v-btn>
    </v-toolbar>
    <v-layout style="height:120px;width:100%"
              class="grey lighten-4 ma-0">
      <textarea style="height:100%;width:100%;resize: none;"
      v-if="!!getUser()"
                class="grey--text text--darken-4"
                :class="{ orange: !!questionSetted, 'lighten-4': !!questionSetted || isQuestion, yellow: !questionSetted && isQuestion }"
                @keydown.enter.shift=""
                @keydown.enter.self.prevent="pushEnter"
                v-model="comment"
                ref="msgField"></textarea>
      <div v-if="!getUser()" style="width:950%; height:90%; opacity:0.8" class="grey darken-3 text-xs-center pt-4 ma-1 body-1">
        コメントするにはログインが必要です。<v-btn @click="openRightDrawer">ログインする</v-btn>
      </div>
    </v-layout>
  </div>
</template>

<script>
import Balloon from './Balloon'
import axios from '~/plugins/axios'
import { mapGetters } from 'vuex'

export default {
  props: ['comments', 'currentTime', 'movieId', 'isPlaying'],
  data () {
    return {
      autorenew: 0,
      isQuestion: false,
      comment: '',
      // coms: this.comments,
      questionSetted: null
    }
  },
  // watch: {
  //   currentTime (val) {
  //     if (this.autorenew !== 0) {
  //       return
  //     }
  //     console.log(val)
  //     // all-tab
  //     let heights = Array.prototype.slice
  //       .call(this.$el.getElementsByClassName('balloon-container-all'))
  //       .map(val => {
  //         return val.clientHeight - 2.0
  //       })
  //     let sum = 0
  //     if (heights.length > 0) {
  //       sum = heights.reduce((prev, current, i, arr) => {
  //         if (val && val >= this.coms[i].timing) {
  //           return prev + current
  //         } else {
  //           return prev
  //         }
  //       })
  //     }
  //     let all = this.$el.querySelector('#all-comments')
  //     let offset = sum - all.clientHeight
  //     all.scrollTop = offset > 0 ? offset : 0

  //     // question-tab
  //     heights = Array.prototype.slice
  //       .call(this.$el.getElementsByClassName('balloon-container-question'))
  //       .map(val => {
  //         return val.clientHeight - 2.0
  //       })
  //     sum = 0
  //     if (heights.length > 0) {
  //       sum = heights.reduce((prev, current, i, arr) => {
  //         if (val && val >= this.coms[i].timing) {
  //           return prev + current
  //         } else {
  //           return prev
  //         }
  //       })
  //     }
  //     let question = this.$el.querySelector('#question-comments')
  //     offset = sum - all.clientHeight
  //     question.scrollTop = offset > 0 ? offset : 0
  //   }
  // },
  watch: {
    currentTime (time) {
      if (this.autorenew === 0 && this.isPlaying) {
        console.log(time)
        let all = this.$el.querySelector('#all-comments')
        all.scrollTop = all.scrollHeight
        let question = this.$el.querySelector('#question-comments')
        question.scrollTop = question.scrollHeight
      }
    }
  },
  computed: {
    coms () {
      if (this.autorenew !== 0 || !this.isPlaying) {
        return this.comments
      } else {
        return this.comments.filter((val) => {
          return val.timing <= this.currentTime
        })
      }
    }
  },
  methods: {
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
      getUser: 'getUser'
    }),
    pushEnter (event) {
      if (event.shiftKey) {
        // this.$refs.msgField.value += '\n'
        this.comment += '\n'
      } else {
        let trimed = this.comment.replace(/^\s+|\s+$/g, '')
        if (trimed) {
          console.log(trimed)
          if (!this.questionSetted) {
            this.sendComment(trimed)
          } else {
            this.sendAnswer(trimed)
          }
        }
      }
    },
    sendComment (text) {
      if (this.isLoggedIn) {
        let current = Math.floor(this.currentTime * 1000) / 1000
        console.log(current)
        axios.post('http://localhost:3000/api/movie/' + this.movieId + '/comment',
          {
            timing: current,
            user_id: this.getUser().id,
            text: text,
            is_question: this.isQuestion ? 1 : 0
          }
        )
          .then(res => {
            console.log(res.data)
            this.$emit('setComments', res.data)
          })
          .catch(e => {
            console.log(e.message)
          })
      }
      this.comment = ''
    },
    sendAnswer (text) {
      if (this.isLoggedIn) {
        let current = Math.floor(this.currentTime * 1000) / 1000
        console.log(current)
        axios.post('http://localhost:3000/api/movie/' + this.movieId + '/answer',
          {
            question_id: this.questionSetted.id,
            user_id: this.getUser().id,
            text: text
          }
        )
          .then(res => {
            console.log(res.data)
            this.$emit('setComments', res.data)
          })
          .catch(e => {
            console.log(e.message)
          })
      }
      this.comment = ''
      this.questionSetted = null
    },
    setQuestionId (question) {
      console.log(question)
      this.questionSetted = question
    },
    cancelAnswer () {
      this.questionSetted = null
    },
    openRightDrawer () {
      console.log('open')
      this.$emit('openRightDrawer', null)
    }
  },
  components: {
    Balloon
  }
}
</script>
<style>
.tab-content-style {
  width: 100%;
  height: 440px;
  overflow: scroll;
}
</style>
