<template>
  <div light
       class="pb-3">
    <h4 class="login-card-head pt-3 grey--text text--darken-1 text-xs-center">Log in</h4>
    <v-form v-model="logInValid"
            ref="logInForm"
            class="mb-3"
            light>
      <v-layout row
                wrap
                justify-center
                light>
        <v-flex xs9>
          <v-text-field label="email"
                        v-model="logInEmail"
                        class="login-card-text-field"
                        type="email"
                        :rules="[rules.required, rules.email]"
                        required
                        single-line
                        light></v-text-field>
        </v-flex>
        <v-flex xs9
                class="mt-1">
          <v-text-field label="password"
                        v-model="logInPassword"
                        class="ma-0 login-card-text-field"
                        min="8"
                        :append-icon="eye ? 'visibility' : 'visibility_off'"
                        :append-icon-cb="() => (eye = !eye)"
                        :type="eye ? 'password' : 'text'"
                        :rules="[rules.required, rules.minLength]"
                        required
                        light
                        single-line></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout row
                wrap
                reverse
                class="mt-2">
        <v-flex xs7>
          <v-btn style="font-size:12px;text-decoration: underline;"
                 color="grey"
                 class="pt-0 pb-0"
                 @click="openPassResetDialog"
                 flat>パスワードを忘れた場合</v-btn>
        </v-flex>

      </v-layout>
      <v-layout row
                wrap
                justify-center>
        <v-flex xs8
                class="ma-0 pa-0">
          <v-btn color="primary"
                 @click="logInSub"
                 block>ログイン</v-btn>
        </v-flex>
      </v-layout>
    </v-form>
    <p class="grey--text text--darken-2 text-xs-center">or</p>
    <v-layout row
              wrap
              justify-center>
      <v-flex xs8
              class="ma-1">
        <a class="twitter pt-1 pb-1 blue--text text--lighten-2"
           :href="twiUrl">Twitterログイン</a>
      </v-flex>
      <v-flex xs8
              class="ma-1">
        <a class="facebook pt-1 pb-1 blue--text text--darken-2"
           :href="fbUrl">Facebookログイン</a>
      </v-flex>
      <v-flex xs8
              class="ma-1">
        <a class="google pt-1 pb-1 red--text text--red-2"
           :href="gglUrl">Googleログイン</a>
      </v-flex>
      <v-flex xs8
              class="ma-1">
        <a class="github pt-1 pb-1"
           :href="gitUrl">Githubログイン</a>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'

export default {
  data () {
    return {
      logInEmail: '',
      logInPassword: '',
      logInValid: false,
      eye: true,
      rules: {
        required: (value) => !!value || '必須項目です',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}))$/
          return (!value || pattern.test(value)) || 'メールアドレスの形式が正しくありません'
        },
        minLength: (value) => {
          return (!value || value.length > 7) || 'パスワードは8文字以上です'
        }
      }
    }
  },
  computed: {
    twiUrl () {
      return 'http://localhost:3000/api/twitter?current_path=' + this.$router.currentRoute.path
    },
    fbUrl () {
      return 'http://localhost:3000/api/facebook?current_path=' + this.$router.currentRoute.path
    },
    gglUrl () {
      return 'http://localhost:3000/api/google?current_path=' + this.$router.currentRoute.path
    },
    gitUrl () {
      return 'http://localhost:3000/api/github?current_path=' + this.$router.currentRoute.path
    }
  },
  methods: {
    ...mapActions({
      logIn: 'logIn',
      twitterIn: 'twitterIn',
      facebookIn: 'facebookIn',
      googleIn: 'googleIn',
      githubIn: 'githubIn'
    }),
    ...mapMutations({
      setResetDialogOpened: 'setResetDialogOpened'
    }),
    logInSub () {
      if (this.$refs.logInForm.validate()) {
        this.logIn({ email: this.logInEmail, password: this.logInPassword })
        console.log('LOGIN Submit')
      }
    },
    twIn () {
      // let path = '/api/twitter?current_path=' + this.$router.currentRoute.path
      // this.$router.push(path)
    },
    faIn () {
      this.facebookIn()
    },
    goIn () {
      this.googleIn()
    },
    giIn () {
      this.githubIn()
    },
    openPassResetDialog () {
      this.setResetDialogOpened(true)
    }
  },
  components: {
  }
}
</script>

<style lang="stylus">

.login-title
  font-size 60px
  height 60px

.login-title2
  font-size 30px
  height 60px

.login-card-head
  width 100%

.login-card-text-field
  height: 60px

.signup-card-text-field
  height: 60px

.or
  height 300px
  display -webkit-flex
  display flex
  -webkit-align-items center /* 縦方向中央揃え（Safari用） */
  align-items center /* 縦方向中央揃え */
  -webkit-justify-content center /* 横方向中央揃え（Safari用） */
  justify-content center /* 横方向中央揃え */
  font-size 40px

.oauth
  display:block
  text-align:center
  text-decoration: none
  border:1px solid
  transition: background-color 0.5s

.twitter
  @extend .oauth
  &:hover
    background-color: rgba(227,242,253 ,1)
.facebook
  @extend .oauth
  &:hover
    background-color: rgba(232,234,246 ,1)
.google
  @extend .oauth
  &:hover
    background-color: rgba(255,235,238 ,1)
.github
  @extend .oauth
  &:hover
    background-color: rgba(238,238,238 ,1)

</style>
