<template>
  <v-card light>
    <v-card-media :src="'http://img.youtube.com/vi/' + movie.video_id + '/1.jpg'"
                  height="140px"></v-card-media>
    <v-card-text style="height:100px">{{movie.title}}</v-card-text>
    <v-card-text class="pt-0 mt-0">
        <span class="grey--text">{{movie.user.name}}</span><br>
        <span class="grey--text">視聴回数 {{movie.w_count}}回・{{new Date(movie.created_at) | moment("from", "now")}}</span><br>
        <span class="blue--text">瞬間最大cool {{movie.c_max}}回 ({{movie.max_id * 0.2}}秒時点)</span>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: ['movie'],
    components: {}
  }
</script>
<style>

</style>
