<template>
  <v-card light>
    <v-card-title>{{ movies.length }} 件</v-card-title>
    <v-divider light></v-divider>
    <v-list light>
      <div v-for="movie in movies"
           @click="go(movie)"
           class="movie-piece">
        <v-layout row
                  pl-3
                  pr-3
                  pt-1>
          <v-flex xs3>
            <img :src="'http://img.youtube.com/vi/' + movie.video_id + '/1.jpg'"
                 style="height:auto;width:80%" />
          </v-flex>
          <v-flex xs9>
            <h5>{{movie.title}}</h5>
            <span class="grey--text">{{movie.name}}</span><br>
            <span class="grey--text">視聴回数 {{movie.w_count}}回・{{new Date(movie.created_at) | moment("from", "now")}}</span><br>
            <span class="blue--text">瞬間最大cool {{movie.c_max}}回 ({{movie.max_id * 0.2}}秒時点)</span><br>
            <span @click.stop="">

              <nuxt-link v-for="tag,idx in movie.tags"
                         :to="{ name: 'index-tags', query: { tag: tag.tag_name }}"
                         :key="idx"
                         exact
                         class="mr-2">
                <span @click="">{{tag.tag_name}}</span>
              </nuxt-link>
              </v-chip>
            </span>
          </v-flex>
        </v-layout>
        <v-divider light></v-divider>
      </div>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: ['movies'],
  data () {
    return {}
  },
  methods: {
    go (movie) {
      this.$router.push({
        name: 'index-movie-id',
        params: { id: movie.id }
      })
    },
    goToTagPage (tag) {
      console.log(tag)
      this.$router.push({ name: 'index-tags', params: { tag: tag } })
    }
  }
}
</script>

<style>
.movie-piece:hover {
  background: rgba(238, 238, 238, 1);
}
</style>
