<template>
  <v-card class="mr-1 ml-1" dark>
    <v-card-text class="pt-1 mt-1" style="height:65px; font-size:13px">{{textTrim50(movie.title)}}</v-card-text>
    <v-card-text class="pt-0 mt-0">
    <span class="caption grey--text">
            {{new Date(movie.created_at) | moment("from", "now")}}
            </span><br>
        <span @click.stop="" style="font-size:12px">
              <nuxt-link v-for="tag,idx in movie.tags"
                         :to="{ name: 'index-tags', query: { tag: tag.tag_name }}"
                         :key="idx"
                         exact
                         class="mr-2 light-blue--text text--lighten-2">
                <span @click="">{{tag.tag_name}}</span>
              </nuxt-link>
              </v-chip>
            </span>

    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: ['movie'],
    methods: {
      textTrim50 (text) {
        if (text.length >= 50) {
          text = text.slice(0, 50) + '…'
        }
        return text
      }
    },
    components: {}
  }
</script>
<style>

</style>
