<template>
  <div light
       class="pb-3">
    <h4 class="login-card-head pt-3 grey--text text--darken-1 text-xs-center">Sign up</h4>
    <v-form v-model="signUpValid"
            ref="signUpForm"
            class="mb-3">
      <v-layout row
                wrap
                justify-center>
        <v-flex xs8
                class="ma-0 pa-0">
          <v-text-field label="username"
                        v-model="signUpName"
                        class="ma-0 signup-card-text-field"
                        single-line
                        :rules="[rules.required]"
                        required
                        light></v-text-field>
        </v-flex>

        <v-flex xs8
                class="ma-0 pa-0">
          <v-text-field label="email"
                        v-model="signUpEmail"
                        class="ma-0 signup-card-text-field"
                        :rules="[rules.required, rules.email]"
                        single-line
                        required
                        light></v-text-field>
        </v-flex>
        <v-flex xs8
                class="ma-0 pa-0">
          <v-text-field label="password(8文字以上)"
                        v-model="signUpPassword"
                        class="ma-0 signup-card-text-field"
                        :rules="[rules.required, rules.minLength]"
                        type="password"
                        single-line
                        required
                        light></v-text-field>
        </v-flex>
        <v-flex xs8
                class="ma-0 pa-0">
          <v-text-field label="password再入力"
                        v-model="signUpConfirm"
                        class="ma-0 signup-card-text-field"
                        :rules="[rules.required, rules.confirm]"
                        type="password"
                        single-line
                        required
                        light></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout row
                wrap
                justify-center>
        <v-flex xs8
                class="ma-0 pa-0 pt-4">
          <v-btn color="primary"
                 @click="signUpSub"
                 block>アカウント登録</v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      signUpName: '',
      signUpEmail: '',
      signUpPassword: '',
      signUpConfirm: '',
      logInValid: false,
      signUpValid: false,
      rules: {
        required: (value) => !!value || '必須項目です',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}))$/
          return (!value || pattern.test(value)) || 'メールアドレスの形式が正しくありません'
        },
        minLength: (value) => {
          return (!value || value.length > 7) || 'パスワードは8文字以上です'
        },
        confirm: (value) => {
          return this.signUpPassword === value || 'パスワードが一致していません'
        }
      }
    }
  },
  methods: {
    ...mapActions({
      signUp: 'signUp'
    }),
    signUpSub () {
      if (this.$refs.signUpForm.validate()) {
        this.signUp({ name: this.signUpName, email: this.signUpEmail, password: this.signUpPassword })
        console.log('SIGNUP Submit')
      }
    }
  },
  components: {
  }
}
</script>

<style lang="stylus">

.login-title
  font-size 60px
  height 60px

.login-title2
  font-size 30px
  height 60px

.login-card-head
  width 100%

.login-card-text-field
  height: 60px

.signup-card-text-field
  height: 60px

.or
  height 300px
  display -webkit-flex
  display flex
  -webkit-align-items center /* 縦方向中央揃え（Safari用） */
  align-items center /* 縦方向中央揃え */
  -webkit-justify-content center /* 横方向中央揃え（Safari用） */
  justify-content center /* 横方向中央揃え */
  font-size 40px
</style>
