<template>
  <v-card light>
    <v-card-title>
      <span class="headline">アップロード済みの動画: {{ movies.length }} 件</span>
    </v-card-title>
    <v-divider light></v-divider>
    <v-list light>
      <div v-for="movie, index in movies"
           @click="go(movie)"
           class="movie-piece">
        <v-layout row
                  pl-3
                  pr-3
                  pt-1>
          <v-flex xs3>
            <img :src="'http://img.youtube.com/vi/' + movie.videoid + '/1.jpg'"
                 style="height:auto;width:80%" />
          </v-flex>
          <v-flex xs9>
            <h5>{{movie.title}}</h5>
            <span class="grey--text">視聴回数 {{movie.howmany}}回・{{movie.up_date}}</span><br>
            <span class="blue--text">瞬間最大cool {{movie.maxcount}}回 ({{movie.maxtime}})</span><br>
            <span v-for="tag,idx in movie.tags"
                  :key="idx">{{tag}}
            </span>

          </v-flex>

        </v-layout>
        <v-divider light></v-divider>
      </div>
    </v-list>
  </v-card>
</template>

<script>

export default {
  props: ['movies'],
  data () {
    return {
      tagDialog: false
    }
  },
  computed: {
  },
  methods: {
    go (movie) {
      this.$router.push({ name: 'index-movie-id', params: { id: movie.id, movie: movie } })
    },
    pushChip (movie, index) {
      if (this.tagInput[index]) {
        if (movie.tags.indexOf(this.tagInput[index]) < 0) {
          movie.tags.push(this.tagInput[index])
          this.tagInput[index] = ''
        }
      }
    },
    removeChip (movie, index) {
      movie.tags.splice(index, 1)
    }
  }
}
</script>

<style>
.movie-piece:hover {
  background: rgba(238, 238, 238, 1);
}
</style>
