<template>
  <v-container grid-list-md
               fluid
               class="movie-back"
               style="height:100%;overflow: hidden;"
               :class="{ 'movie-back-active': currentCools >= getActives().active && currentCools < getActives().active2,   'movie-back-active2': currentCools >= getActives().active2 }">
    <v-layout row
              wrap style="height:100%;" id="nexts-layout">
      <v-flex lg2
              md12
              order-lg1
              order-md3
              class="pr-2">
        <v-layout column>
        <span>関連動画</span><v-layout row justify-center><v-btn small outline style="min-width:0px;" @click="goBackward"><</v-btn><p class="pt-2 pb-0 mb-0">{{nextsPage}}/ {{pageMax}}</p><v-btn small outline style="min-width:0px;" @click="goForward">></v-btn></v-layout>
        <div @click="go(n)" v-for="n in nextsDisp" :key="n.id">
            <next-card :movie="n" class="pa-0 ma-0"></next-card>
        </div>
        </v-layout>

      </v-flex>
      <v-flex lg7
              md8
              order-lg2
              order-md1
              v-resize="onResize"
              ref="player"
              class="pt-2">
        <v-layout>
          <v-card>
          <v-card-media>
            <div v-if="false">
              <youtube :video-id="movie.video_id"
                       @ready="ready"
                       @paused="stop"
                       @playing="playing"
                       @buffering="buffering"
                       @qued="qued"
                       @error="error"
                       ></youtube>
            </div>
            <div class="video-player-box"
                 v-video-player:myVideoPlayer="playerOptions"
                 style="height:100%;width:100%"
                 @play="onPlayerPlay($event)"
                 @pause="onPlayerPause($event)"
                 @ready="playerReadied"
                 @playing="onPlayerPlaying($event)"
                 >
  </div>
            </v-card-media>
            <v-card-title class="pt-0 mt-0">
              <v-layout row>
                <v-flex>
                  <span>{{movie.title}}</span><br>
                  <span class="grey--text">{{movie.discription}}</span><br>
                  <span class="grey--text">{{movie.user.name}}</span><br>
                  <span class="grey--text">視聴回数 {{movie.w_count}}回・{{ movie.updated_at | moment("YYYY/MM/DD HH:mm:ss")}}</span><br>
                </v-flex>
                <v-flex>
                  <v-layout row
                            justify-end v-if="true">
                    <v-flex xs6>
                      <div class="text-xs-center">
                        <v-btn class="mt-0 mb-3 blue lighten-1">現在の時間を記憶する</v-btn><br>
                        <p style="margin-top:-15px"
                           class="caption">00:01:42を記憶済</p>
                      </div>
                    </v-flex>
                    <v-flex xs2>
                      <v-btn-toggle v-model="favorite">
                        <v-btn flat>
                          <v-icon class="yellow--text">{{isFavorite ? 'star': 'star_border'}}</v-icon>
                        </v-btn>
                      </v-btn-toggle>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>

        </v-layout>

        <div style="width:100%; height:150px;"
             class="text-xs-center pt-3">
          <v-btn @click.native="pushCool()"
                 :class="{ 'cool-btn': coolCount < 5, 'cool-btn5': coolCount >= 5, 'yellow--text': coolCount >= 4 }"
                 style="width: 70%; height: 130px;">
            Cool
            <em>!</em>
            <em :class="{ 'grey--text' : count < 1, 'text--darken-1' : count < 1}">!</em>
            <em :class="{ 'grey--text' : count < 2, 'text--darken-1' : count < 2}">!</em>
            <em :class="{ 'grey--text' : count < 3, 'text--darken-1' : count < 3}">!</em>
            <em :class="{ 'grey--text' : count < 4, 'text--darken-1' : count < 4}">!</em>
          </v-btn>
          <v-snackbar :timeout="1500"
                      :color="coolCount > 4 ? 'yellow darken-4' : 'primary'"
                      top
                      right
                      v-model="coolActBar"
                      class="red--text"
                      style="color: #baac00">
            {{barText}}</v-snackbar>
        </div>
      </v-flex>
      <v-flex lg3
              md4
              order-lg3
              order-md2
              class="pt-1 mt-0 pl-2">
        <chat-field :comments="movie.comments" :currentTime="currentTime" :movieId="movie.id" :isPlaying="isPlaying"
        @openRightDrawer="openRightDrawer" @setComments="setComments"></chat-field>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from '~/plugins/axios'
import NextCard from '~/components/NextCard'
import ChatField from '~/components/ChatField'
import { mapGetters, mapActions } from 'vuex'
require('video.js/dist/video-js.css')
require('vue-video-player/src/custom-theme.css')
// import moment from 'moment'

export default {
  data () {
    return {
      favorite: null,
      startTime: '',
      playerSize: {
        x: 0,
        y: 0
      },
      coolActBar: false,
      coolCount: 0,
      cool5: false,
      currentId: 0,
      currentTime: 0,
      timer: null,
      nextsHeight: 0,
      nextsPage: 1,
      playerOptions: {
        sources: [{
          type: 'video/mp4',
          src: '/StarWars_BB_8.mp4'
        }]
      },
      isPlaying: false
    }
  },
  async asyncData ({ params, error }) {
    let movie
    let cools
    let nexts
    movie = await axios.get('/api/movie/' + params.id).catch((e) => {
      console.log(e.message)
      return {
        data: {
          id: 1,
          video_id: '',
          title: '',
          description: '',
          user_id: null,
          total_time: 0,
          is_youtube: 0,
          w_count: 0,
          c_count: 0,
          max_c: 0,
          max_id: 0,
          created_at: '',
          updated_at: '',
          user: { name: '' },
          tags: [],
          comments: []
        }
      }
    })

    cools = await axios.get('/api/movie/' + params.id + '/cools').catch((e) => {
      return {
        data: []
      }
    })

    nexts = await axios.get('/api/movie/' + params.id + '/nexts').catch((e) => {
      return {
        data: []
      }
    })

    return {
      movie: movie.data,
      cools: cools.data,
      nexts: nexts.data,
      pageMax: Math.ceil(nexts.data.length / 5)
    }
  },
  head () {
    return {
      title: this.movie.title
    }
  },
  computed: {
    nextsDisp () {
      return this.nexts.slice((this.nextsPage - 1) * 5, this.nextsPage * 5)
    },
    isFavorite () {
      return !!this.favorite || this.favorite === 0
    },
    barText () {
      if (this.coolActBar) {
        return this.coolCount === 1 ? 'Cool!' : 'Cool!' + ' × ' + this.coolCount
      }
      return 'Cool'
    },
    count () {
      if (!this.coolActBar) {
        this.coolCount = 0
      }
      return this.coolCount
    },
    currentCools () {
      if (this.cools) {
        let pre2 = this.cools.find((value) => {
          return value.time_id === this.currentId - 2
        })
        let pre1 = this.cools.find((value) => {
          return value.time_id === this.currentId - 1
        })
        let current = this.cools.find((value) => {
          return value.time_id === this.currentId
        })
        let nex1 = this.cools.find((value) => {
          return value.time_id === this.currentId + 1
        })
        let nex2 = this.cools.find((value) => {
          return value.time_id === this.currentId + 2
        })

        pre2 = pre2 ? pre2.count : 0
        pre1 = pre1 ? pre1.count : 0
        current = current ? current.count : 0
        nex1 = nex1 ? nex1.count : 0
        nex2 = nex2 ? nex2.count : 0

        this.$store.state.currentCools = pre2 + pre1 + current + nex1 + nex2

        return pre2 + pre1 + current + nex1 + nex2
      }
    }
  },
  mounted () {

  },
  methods: {
    ...mapGetters({
      getActives: 'getActives'
    }),
    ...mapActions({
      postCool: 'postCool'
    }),
    ready (player) {
      console.log(player)
      this.player = player
      player.cueVideoById(this.movie.video_id)
      this.setPlayerSize()
      this.timer = setInterval(this.setCurrentToSeek, 50)
    },
    playerReadied (player) {
      this.player = player
      this.player.width_ = this.$refs.player.clientWidth
      this.player.height_ = this.$refs.player.clientWidth * 9 / 16
      console.log(player.currentTime())
      this.timer = setInterval(this.setCurrentToSeek, 50)
    },
    onPlayerPlay (player) {
      console.log('play!')
      console.log(player)
      this.isPlaying = true
    },
    onPlayerPause (player) {
      console.log('pause!')
      console.log(player)
      this.isPlaying = false
    },
    onPlayerPlaying (event) {
      console.log('playing!')
      console.log(event)
    },
    playing (player) {
      console.log('playing')
    },
    ended (player) {
      console.log('ended')
    },
    error (player) {
      console.log('error')
    },
    buffering (player) {
      console.log('buffering')
    },
    qued (player) {
      console.log('qued')
    },
    stop () {
      console.log('stop')
    },
    setCurrentToSeek () {
      // this.currentTime = this.player.getCurrentTime()
      this.currentTime = this.player.currentTime()
      this.currentId = Math.floor(this.currentTime / 0.2)
    },
    setPlayerSize () {
      if (this.$refs.player && this.player) {
        this.player.setSize(this.$refs.player.clientWidth, this.$refs.player.clientWidth * 9 / 16)
      }
    },
    onResize () {
      // this.setPlayerSize()
      if (this.player) {
        this.player.width_ = this.$refs.player.clientWidth
        this.player.height_ = this.$refs.player.clientWidth * 9 / 16
      }
    },
    countUp () {
      this.coolActBar = true
      this.coolCount += 1
    },
    pushCool () {
      this.countUp()
      if (this.movie && this.movie.id) {
        this.postCool(
          {
            timeId: this.currentId,
            movieId: this.movie.id
          }
        )
      }
    },
    goForward () {
      this.nextsPage = Math.min(this.nextsPage + 1, this.pageMax)
    },
    goBackward () {
      this.nextsPage = Math.max(this.nextsPage - 1, 1)
    },
    go (movie) {
      this.$router.push({ name: 'index-movie-id', params: { id: movie.id } })
    },
    openRightDrawer () {
      console.log('open2')
      this.$emit('openRightDrawer', null)
    },
    setComments (comments) {
      this.movie.comments = comments
    }
  },
  beforeRouteLeave (to, from, next) {
    if (this.timer) {
      clearInterval(this.timer)
      this.timer = null
    }
    next()
  },
  components: {
    NextCard,
    ChatField
  }
}
</script>

<style>
.cool-btn {
  font-family: 'Orbitron', sans-serif;
  font-size: 90px;
  text-transform: none;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.32), 0px 2px 0px #00897b,
    0px 4px 0px #4f6aa7, 0px 6px 0px #00897b;
  background-image: -webkit-linear-gradient(#00897b 0%, #101010 100%);
  background-image: linear-gradient(#00897b 0%, #101010 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #00897b;
}

.cool-btn:active {
  -ms-transform: translateY(7px);
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.cool-btn5 {
  font-family: 'Orbitron', sans-serif;
  font-size: 90px;
  text-transform: none;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.32), 0px 2px 0px #caa04f,
    0px 4px 0px #a78220, 0px 6px 0px #5470ad;
  background-image: -webkit-linear-gradient(#c06000 0%, #101010 100%);
  background-image: linear-gradient(#c06000 0%, #101010 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c06000;
}

.cool-btn5:active {
  -ms-transform: translateY(7px);
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.snack--right > .snack__content {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}

.movie-back {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.movie-back-active {
  background-color: rgba(255, 249, 196, 0.5);
  animation: ease 0.5s both;
  -webkit-animation: ease 0.5s both;
}
.movie-back-active2 {
  background-color: rgba(244, 67, 54, 1);
  animation: ease 0.5s both;
  -webkit-animation: ease 0.5s both;
}

.video-js .vjs-current-time {
  display: inline;
}
</style>
