$theme ?= {
  primary: #009688,
  accent: #ce93d8,
  secondary: #424242,
  info: #0D47A1,
  warning: #ffb300,
  error: #B71C1C,
  success: #2E7D32
};

// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl';

.page {
  @extend .fade-transition;
}
