<template>
  <v-app class="blue-grey darken-4">
    <v-container grid-list-xl
                 text-xs-center>
      <v-layout row
                wrap
                justify-center>
        <v-flex xs9>
          <p class="login-title white--text  mt-0 mb-0">プログラミングは、娯楽だ。</p>
        </v-flex>
        <v-flex xs3
                offset-xs8>
          <p class="login-title2 teal--text mt-0 mb-0">by Cool Hacks</p>
        </v-flex>
      </v-layout>
      <v-layout row
                wrap
                justify-center>
        <v-flex xs4>
          <v-card class="pb-4">
            <h4 class="login-card-head pt-3 grey--text text--darken-1">Log in</h4>
            <v-form v-model="logInValid"
                    ref="logInForm"
                    class="mb-3">
              <v-layout row
                        wrap
                        justify-center>
                <v-flex xs8
                        class="ma-0 pa-0">
                  <v-text-field label="email"
                                v-model="logInEmail"
                                class="ma-0 login-card-text-field"
                                :rules="[rules.required, rules.email]"
                                required
                                single-line></v-text-field>
                </v-flex>
                <v-flex xs8
                        class="ma-0 pa-0">
                  <v-text-field label="password"
                                class="ma-0 login-card-text-field"
                                min="8"
                                :append-icon="eye ? 'visibility' : 'visibility_off'"
                                :append-icon-cb="() => (eye = !eye)"
                                :type="eye ? 'password' : 'text'"
                                required
                                counter
                                single-line></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row
                        wrap
                        reverse
                        class="mt-2">
                <v-flex xs7>
                  <nuxt-link to="#"
                             style="font-size:10px"
                             exact>パスワードを忘れた場合</nuxt-link>
                </v-flex>

              </v-layout>
              <v-layout row
                        wrap
                        justify-center>
                <v-flex xs8
                        class="ma-0 pa-0">
                  <v-btn primary
                         @click="logInSub"
                         block>ログイン</v-btn>
                </v-flex>
              </v-layout>
            </v-form>
            <p class="grey--text text--darken-2">or</p>
            <v-layout row
                      wrap
                      justify-center>
              <v-flex xs8
                      class="ma-0 pa-0">
                <v-btn outline
                       class="light-blue light-blue--text text--darken-1"
                       block>Twitterログイン</v-btn>
              </v-flex>
              <v-flex xs8
                      class="ma-0 pa-0">
                <v-btn outline
                       class="blue blue--text text--darken-3"
                       block>Facebookログイン</v-btn>
              </v-flex>
              <v-flex xs8
                      class="ma-0 pa-0">
                <v-btn outline
                       class="red red--text"
                       block>Googleログイン</v-btn>
              </v-flex>
              <v-flex xs8
                      class="ma-0 pa-0">
                <v-btn outline
                       block>Githubログイン</v-btn>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>

        <v-flex xs1>
          <p class="or grey--text">or</p>
        </v-flex>
        <v-flex xs4>
          <v-card class="pb-4">
            <h4 class="login-card-head pt-3 grey--text text--darken-1">Sign up</h4>
            <v-form v-model="signUpValid"
                    ref="signUpForm"
                    class="mb-3">
              <v-layout row
                        wrap
                        justify-center>
                <v-flex xs8
                        class="ma-0 pa-0">
                  <v-text-field label="username"
                                class="ma-0 signup-card-text-field"
                                single-line
                                :rules="[rules.required]"
                                required></v-text-field>
                </v-flex>

                <v-flex xs8
                        class="ma-0 pa-0">
                  <v-text-field label="email"
                                v-model="signUpEmail"
                                class="ma-0 signup-card-text-field"
                                :rules="[rules.required, rules.email]"
                                single-line
                                required></v-text-field>
                </v-flex>
                <v-flex xs8
                        class="ma-0 pa-0">
                  <v-text-field label="password(8文字以上)"
                                class="ma-0 signup-card-text-field"
                                single-line
                                required></v-text-field>
                </v-flex>
                <v-flex xs8
                        class="ma-0 pa-0">
                  <v-text-field label="password再入力"
                                class="ma-0 signup-card-text-field"
                                single-line
                                required></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout row
                        wrap
                        justify-center>
                <v-flex xs8
                        class="ma-0 pa-0 pt-4">
                  <v-btn primary
                         @click="signUpSub"
                         block>アカウント登録</v-btn>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>

export default {
  data () {
    return {
      logInEmail: '',
      logInPassword: '',
      signUpEmail: '',
      signUpPassword: '',
      logInValid: false,
      signUpValid: false,
      eye: false,
      rules: {
        required: (value) => !!value || '必須項目です',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}))$/
          console.log(pattern.test(value))
          return pattern.test(value) || 'メールアドレスが正しくありません'
        }
      }
    }
  },
  methods: {
    logInSub () {
      if (this.$refs.logInForm.validate()) {
        alert('LOGIN Submit')
      }
    },
    signUpSub () {
      if (this.$refs.signUpForm.validate()) {
        alert('SIGNUP Submit')
      }
    }
  },
  components: {
  }
}
</script>

<style lang="stylus">

.login-title
  font-size 60px
  height 60px

.login-title2
  font-size 30px
  height 60px

.login-card-head
  width 100%

.login-card-text-field
  height: 60px

.signup-card-text-field
  height: 60px

.or
  height 300px
  display -webkit-flex
  display flex
  -webkit-align-items center /* 縦方向中央揃え（Safari用） */
  align-items center /* 縦方向中央揃え */
  -webkit-justify-content center /* 横方向中央揃え（Safari用） */
  justify-content center /* 横方向中央揃え */
  font-size 40px
</style>
