<template>
  <v-app toolbar
         dark>
    <v-navigation-drawer persistent
                         v-model="leftDrawer"
                         dark
                         clipped
                         left
                         width="160px">
      <v-toolbar dense
                 flat></v-toolbar>

      <v-list dense>
        <v-list-tile v-for="item in leftDrawerDefaults"
                     :key="item.title"
                     @click="go(item.page)">

          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="go(channelList.page)"
                     slot="activator"
                     v-if="channelListVisible">
          <v-list-tile-action>
            <v-icon>{{ channelList.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ channelList.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider v-if="checkedMovieOptionsVisible"></v-divider>
        <v-subheader class="mt-2 grey--text"
                     v-if="checkedMovieOptionsVisible">チェック済み動画</v-subheader>
        <v-list-tile v-for="item in checkedMovieOptions"
                     :key="item.title"
                     @click="go(item.page)"
                     v-if="checkedMovieOptionsVisible">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider v-if="channelsVisible"></v-divider>
        <v-subheader class="mt-2 mb-2 grey--text"
                     v-if="channelsVisible">フォロー中</v-subheader>
        <v-list-tile v-for="item in channels"
                     :key="item.name"
                     @click="go({ path: `${item.page}/${item.id}` })"
                     class="mt-2"
                     v-if="channelsVisible">
          <v-list-tile-avatar size="32px">
            <v-icon class="grey">{{ item.avatar }}</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.name }}</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-list-tile-title style="text-align:center">{{ item.movieNum }}</v-list-tile-title>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider v-if="helpVisible"></v-divider>
        <v-list-tile @click="go(help.page)"
                     v-if="helpVisible">
          <v-list-tile-action>
            <v-icon>{{ help.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ help.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-navigation-drawer persistent
                         v-model="rightDrawer"
                         light
                         clipped
                         right>
      <v-toolbar dense
                 flat
                 light></v-toolbar>
      <v-list dense
              v-if="loggedIn">
        <v-subheader class="mt-2 grey--text">あなた</v-subheader>
        <v-list-tile @click="go(account.page)">
          <v-list-tile-avatar size="40px"
                              light>
            <img v-if="!!$store.state.user && !!$store.state.user.avatar" :src="$store.state.user.avatar"/>
            <v-icon v-if="!(!!$store.state.user && !!$store.state.user.avatar)" class="grey grey--text text--lighten-4">{{ account.avatar }}</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>{{ $store.state.user.name }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider class="mt-2 mb-2"></v-divider>
        <v-list-tile v-for="item in rightDrawerItems"
                     v-if="!item.disabled"
                     :key="item.title"
                     @click="go(item.page)">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="logout()">
          <v-list-tile-action>
            <v-icon>{{ exit.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ exit.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <div v-else>
        <log-in-card v-if="!isSignUp"></log-in-card>
        <sign-up-card v-else></sign-up-card>
        <v-divider></v-divider>
        <v-btn flat
               color="orange darken-2"
               @click="isSignUp = !isSignUp">{{signUpToggle}}</v-btn>

      </div>
    </v-navigation-drawer>
    <v-toolbar clipped-left
               clipped-right
               fixed
               dense
               app>
      <v-toolbar-side-icon @click.stop="leftDrawer = !leftDrawer"></v-toolbar-side-icon>

      <v-toolbar-title class="logo"
                       @click="go('/')">Cool Hacks</v-toolbar-title>

      <v-text-field v-model="searchWord"
                    label="Search..."
                    single-line
                    append-icon="search"
                    :append-icon-cb="search"
                    @keydown.enter="search"
                    @input="set"
                    dark
                    hide-details
                    class="ml-4 mr-5 "></v-text-field>

      <v-toolbar-title  v-if="$router.currentRoute.name === 'index-movie-id'"><span class="body-1 grey--text">瞬間Cool </span><span class="title  ml-2  " :class="{ 'grey--text': $store.state.currentCools < getActives().active,'text--lighten-2': $store.state.currentCools < getActives().active, 'cool-active': $store.state.currentCools >= getActives().active && $store.state.currentCools < getActives().active2, 'cool-active2': $store.state.currentCools >= getActives().active2}"> {{$store.state.currentCools}}</span> <span class="caption  grey--text pl-2">/ 秒</span></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon
             @click="go('/upload')">
        <v-icon>file_upload</v-icon>
      </v-btn>
      <v-btn icon
             @click.stop="rightDrawer = !rightDrawer">
        <v-icon v-if="!(!!$store.state.user && !!$store.state.user.avatar)">person</v-icon>
        <v-avatar size="35px"><img v-if="!!$store.state.user && !!$store.state.user.avatar" :src="$store.state.user.avatar"/></v-avatar>
      </v-btn>
    </v-toolbar>
    <main>
      <v-content>
        <v-snackbar :timeout="3000"
                    top
                    color="red darken-4"
                    v-model="hasErr">
          {{ error }}
          <v-btn flat
                 color="white"
                 @click.native="error = false; hasErr = false">Close</v-btn>
        </v-snackbar>
        <v-snackbar :timeout="3000"
                    top
                    color="success"
                    v-model="hasSuc">
          {{ success }}
          <v-btn flat
                 color="white"
                 @click.native="success = false; hasSuc = false">Close</v-btn>
        </v-snackbar>
        <v-snackbar :timeout="3000"
                    top
                    color="info"
                    v-model="$store.state.hasActInfo">
          {{getActInfo}}
          <v-btn flat
                 color="white"
                 @click.native="setHasActivateInfo(false)">Close</v-btn>
        </v-snackbar>
        <v-snackbar :timeout="3000"
                    top
                    color="error"
                    v-model="$store.state.hasActErr">
          {{getActErr}}
          <v-btn flat
                 color="white"
                 @click.native="setHasActivateErr(false)">Close</v-btn>
        </v-snackbar>
        <v-dialog v-model="$store.state.isNewUser"
                  persistent
                  width="800px"
                  light>
          <v-card light>

            <v-card-text light>
              <v-container grid-list-xs>
                <v-form v-model="oauthValid"
                        ref="oauthForm"
                        light>
                  <v-layout row
                            wrap
                            justify-center>
                    <v-flex xs12
                            class="text-xs-center pt-2 pb-4">
                      <p class="orange--text text--darken-4 pb-4">
                        <v-icon class="orange--text text--darken-4">warning</v-icon>まだアカウント登録は完了していません
                        <v-icon class="orange--text text--darken-4">warning</v-icon>
                      </p>

                      <h3 class="pt-4">Cool Hacks へようこそ！</h3>

                      <span class="grey--text body-1">ユーザ名とメールアドレスを入力して登録ボタンを押すと、本登録用メールが送信されます</span>

                    </v-flex>
                    <v-flex xs9>
                      <v-text-field label="User name"
                                    required
                                    light
                                    v-model="$store.state.newUser.name"></v-text-field>
                    </v-flex>

                    <v-flex xs9>
                      <v-text-field label="Email"
                                    required
                                    light
                                    v-model="$store.state.newUser.email"
                                    :rules="[rules.required, rules.email]"></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1"
                     flat
                     @click.native="cancelActivate()">登録を中止する</v-btn>
              <v-btn color="blue darken-1"
                     @click.native="oauthAct()">本登録用メールの送信</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="$store.state.resetDialog"
                  persistent
                  width="800px"
                  light>
          <v-card light>

            <v-card-text light>
              <v-container grid-list-xs>
                <v-form v-model="passResetValid"
                        ref="passResetValid"
                        light>
                  <v-layout row
                            wrap
                            justify-center>
                    <v-flex xs12
                            class="text-xs-center pt-2 pb-4">

                      <span class="grey--text body-1">パスワードリセット用メールの送信</span>

                    </v-flex>
                    <v-flex xs9>
                      <v-text-field label="email"
                                    required
                                    light
                                    v-model="resetEmail"
                                    :rules="[rules.required, rules.email]"></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1"
                     flat
                     @click.native="cancelReset()">Cancel</v-btn>
              <v-btn color="blue darken-1"
                     @click.native="sendReMail()">パスワード初期化用メールの送信</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <transition>
          <keep-alive>
            <router-view @openRightDrawer="openRightDrawer"></router-view>
          </keep-alive>
        </transition>
      </v-content>
    </main>
  </v-app>
</template>

<script>
import LogInCard from '~/components/LogInCard'
import SignUpCard from '~/components/SignUpCard'
import { mapMutations, mapActions, mapGetters } from 'vuex'

export default {
  data () {
    return {
      oauthValid: false,
      passResetValid: false,
      resetEmail: '',
      hasErr: this.hasError(),
      hasSuc: this.hasSuccess(),
      error: this.getErrorMsg(),
      success: this.getSuccessMsg(),
      actInfo: this.$store.state.actInfoFlash,
      actErr: this.$store.state.actErrFlash,
      searchWord: this.$store.state.searchWord,
      isSignUp: false,
      leftDrawer: (this.$router.currentRoute.path === '/') && (this.$router.currentRoute.path === '/new') && (this.$router.currentRoute.path === '/recomended') && !this.error & !this.success,
      rightDrawer: false,
      channelListVisible: false,
      checkedMovieOptionsVisible: false,
      channelsVisible: false,
      helpVisible: false,
      leftDrawerDefaults: [
        {
          title: 'Home',
          icon: 'home',
          page: '/'
        },
        {
          title: 'おすすめ',
          icon: 'lightbulb_outline',
          page: '/recomended'
        },
        {
          title: '新着',
          icon: 'fiber_new',
          page: '/news'
        }
      ],
      channelList: {
        title: '登録チャンネル',
        icon: 'people',
        page: '/channel'
      },
      checkedMovieOptions: [
        {
          title: '閲覧履歴',
          icon: 'history',
          page: '/history'
        },
        {
          title: '一時停止中',
          icon: 'bookmark_border',
          page: '/bookmarks'
        },
        {
          title: 'お気に入り',
          icon: 'star',
          page: '/favorites'
        }
      ],
      channels: [
        {
          id: 1,
          name: 'channel1',
          avatar: 'person',
          page: '/channels',
          movieNum: 8
        },
        {
          id: 2,
          name: 'channel2',
          avatar: 'person',
          page: '/channels',
          movieNum: 12
        },
        {
          id: 3,
          name: 'channel3',
          avatar: 'person',
          page: '/channels',
          movieNum: 4
        },
        {
          id: 4,
          name: 'channel4',
          avatar: 'person',
          page: '/channels',
          movieNum: 32
        },
        {
          id: 5,
          name: 'channel5',
          avatar: 'person',
          page: '/channels',
          movieNum: 1
        },
        {
          id: 6,
          name: 'channel1',
          avatar: 'person',
          page: '/channels',
          movieNum: 8
        },
        {
          id: 60,
          name: 'channel2',
          avatar: 'person',
          page: '/channels',
          movieNum: 12
        },
        {
          id: 7,
          name: 'channel3',
          avatar: 'person',
          page: '/channels',
          movieNum: 4
        },
        {
          id: 8,
          name: 'channel4',
          avatar: 'person',
          page: '/channels',
          movieNum: 32
        },
        {
          id: 9,
          name: 'channel5',
          avatar: 'person',
          page: '/channels',
          movieNum: 1
        },
        {
          id: 10,
          name: 'channel1',
          avatar: 'person',
          page: '/channels',
          movieNum: 8
        },
        {
          id: 11,
          name: 'channel2',
          avatar: 'person',
          page: '/channels',
          movieNum: 12
        },
        {
          id: 12,
          name: 'channel3',
          avatar: 'person',
          page: '/channels',
          movieNum: 4
        },
        {
          id: 13,
          name: 'channel4',
          avatar: 'person',
          page: '/channels',
          movieNum: 32
        },
        {
          id: 14,
          name: 'channel5',
          avatar: 'person',
          page: '/channels',
          movieNum: 1
        }
      ],
      help: {
        title: 'ヘルプ',
        icon: 'help',
        page: '/help'
      },
      account: {
        id: 33,
        name: 'accountname',
        avatar: 'person',
        page: '/account'
      },
      rightDrawerItems: [
        {
          title: 'あなたのチャンネル',
          icon: 'face',
          page: '/mychannel',
          disabled: true
        },
        {
          title: 'アップロード済みの動画',
          icon: 'local_movies',
          page: '/myuploads'
        }
      ],
      exit: {
        title: 'ログアウト',
        icon: 'exit_to_app'
      },
      rules: {
        required: (value) => !!value || '必須項目です',
        email: (value) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}))$/
          return (!value || pattern.test(value)) || 'メールアドレスの形式が正しくありません'
        }
      }
    }
  },
  mounted () {
    this.setError(null)
    this.setSuccess(null)
    if (this.$store.state.isNewUser) {
      this.$router.push({ name: this.$router.currentRoute.name })
    }
  },
  computed: {
    signUpToggle () {
      return this.isSignUp ? '既にアカウントをお持ちの方はこちら' : '登録が初めての方はこちら'
    },
    loggedIn () {
      return this.$store.state.user
    },
    ...mapGetters({
      // hasActInfo: 'hasActInfo',
      // hasActErr: 'hasActErr',
      getActInfo: 'getActInfo',
      getActErr: 'getActErr'
    })
  },
  methods: {
    ...mapActions({
      logOut: 'logOut',
      oauthActivate: 'oauthActivate',
      sendResetMail: 'sendResetMail'
    }),
    ...mapMutations({
      setWord: 'setWord',
      setError: 'setError',
      setSuccess: 'setSuccess',
      setActivateInfo: 'setActivateInfo',
      setActivateErr: 'setActivateErr',
      setHasActivateInfo: 'setHasActivateInfo',
      setHasActivateErr: 'setHasActivateErr',
      setIsNewUser: 'setIsNewUser',
      setNewUser: 'setNewUser',
      setResetDialogOpened: 'setResetDialogOpened'
    }),
    ...mapGetters({
      hasError: 'hasError',
      hasSuccess: 'hasSuccess',
      getErrorMsg: 'getErrorMsg',
      getSuccessMsg: 'getSuccessMsg',
      getActives: 'getActives'
    }),
    go (page) {
      this.$router.push(page)
    },
    logout () {
      this.logOut()
      let pathNames = ['index-upload', 'index-myuploads', 'index-account']
      if (pathNames.indexOf(this.$router.currentRoute.name) >= 0) {
        this.$router.push('/')
      }
      console.log('LOG OUT')
    },
    search () {
      console.log(this.$store.state)
      if (this.searchWord) {
        this.$router.push({ name: 'index-result', query: { search_word: this.searchWord } })
      }
    },
    set (value) {
      this.setWord(value)
    },
    cancelActivate () {
      this.setIsNewUser(false)
      this.setNewUser({})
    },
    oauthAct () {
      if (this.$refs.oauthForm.validate()) {
        this.oauthActivate()
      }
    },
    cancelReset () {
      this.setResetDialogOpened(false)
    },
    sendReMail () {
      this.sendResetMail(this.resetEmail)
    },
    openRightDrawer () {
      this.rightDrawer = true
    }
  },
  components: {
    LogInCard,
    SignUpCard
  }
}
</script>

<style>
.logo {
  font-family: 'Orbitron', sans-serif;
}

.not-moviepage {
  margin-left: 150px;
}

.cool-active {
  color: rgba(253, 216, 53, 1);
  animation: ease 0.5s both;
  -webkit-animation: ease 0.5s both;
}
.cool-active2 {
  color: rgba(255, 87, 34, 1);
  animation: ease 0.5s both;
  -webkit-animation: ease 0.5s both;
}
</style>
