<template>
  <v-app>
    <v-container>
      <v-layout row
                wrap
                justify-center>
        <v-flex xs12
                class="text-xs-center pt-5 mt-5">

          <h2 class="pb-5 logo">Cool Hacks</h2>
          </h5>
        </v-flex>
      </v-layout>
      <v-form v-model="resetValid"
              ref="resetForm"
              v-if="!response.success && !response.error">
        <v-flex xs12
                class="text-xs-center">
          <h5 class="grey--text text--darken-2 mt-4">パスワードの再設定</h5>
        </v-flex>
        <v-layout row
                  wrap
                  justify-center>
          <v-flex xs4
                  class="mt-3 pt-4 pa-1">
            <v-text-field label="password(8文字以上)"
                          v-model="password"
                          class="ma-0"
                          :rules="[rules.required, rules.minLength]"
                          type="password"
                          single-line
                          required
                          light></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row
                  wrap
                  justify-center>
          <v-flex xs4
                  class="mt-4 pa-1">
            <v-text-field label="password再入力"
                          v-model="confirm"
                          class="ma-0"
                          :rules="[rules.required, rules.confirm]"
                          type="password"
                          single-line
                          required
                          light></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row
                  wrap
                  justify-center>
          <v-flex xs4
                  class="mt-4 pa-1 text-xs-center">
            <v-btn @click="resetPass"
                   block
                   large
                   primary>再設定</v-btn>
          </v-flex>
        </v-layout>
      </v-form>
      <v-layout row
                wrap
                justify-center
                v-if="response.success">
        <p class="title">
          {{response.success}}
        </p>
      </v-layout>
      <v-layout row
                wrap
                justify-center
                v-if="response.error">
        <p class="title">
          <v-icon>error</v-icon>エラー。{{response.error}}
        </p>
      </v-layout>
    </v-container>
  </v-app>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      response: { success: null, error: null },
      password: '',
      confirm: '',
      resetValid: false,
      rules: {
        required: (value) => !!value || '必須項目です',
        minLength: (value) => {
          return (!value || value.length > 7) || 'パスワードは8文字以上です'
        },
        confirm: (value) => {
          return this.password === value || 'パスワードが一致していません'
        }
      }
    }
  },
  async asyncData ({ query, error }) {
    let id = query.id
    let token = query.token
    return {
      id: id,
      token: token
    }
  },
  methods: {
    ...mapActions({
      resetPassword: 'resetPassword'
    }),
    resetPass () {
      if (this.$refs.resetForm.validate()) {
        this.resetPassword({
          postData: {
            id: this.id,
            reset_pass_token: this.token,
            password: this.password
          },
          response: this.response
        })
      }
    }
  }
}
</script>
<style>
.logo {
  font-family: 'Orbitron', sans-serif;
}
</style>
